.root
{
    margin: 0;
    padding: 0;
}
.background
{
   background-image: url("/imgs/sample.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   position: absolute;
   width: 100vw;
   height: 100vh;
   z-index: 1;

}
.pageinfo
{
    position: relative;
    z-index: 2;
    overflow: auto;
}
.hedingTitle
{
    font-size: 20;
    color: white;
    font-weight: 1000;
}


